@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: #1F2937;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --info-text-color: #1F2937;
    --button-color: #3882F6;
    --quote-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header, .hero, footer, .quote, .call-to-action, .subtexts-container {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
}

.header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero {
    background-color: var(--main-bg-color);
    color: var(--secondary-text-color);
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    max-height: 250px;
    gap: 20px;
}

.information {
    text-align: center;
    background-color: var(--main-text-color);
    padding: 40px 150px;
    margin-bottom: 50px;
}

.subtexts-container {
    flex-direction: row;
    gap: 20px;
}

.subtexts {
    max-width: 200px;
}

.subtexts img {
    border-radius: 10px;
}

.quote {
    background-color: var(--quote-bg-color);
    flex-direction: column;
    text-align: center;
    padding: 100px 400px;
}

.call-to-action {
    padding: 70px 400px;
}

.blue-box {
    background-color: var(--button-color);
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
}

footer {
    background-color: var(--main-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120px;
    
}

/* Text styling */

.main-title {
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: 900;
}

.information h2 {
    padding-top: 20px;
    padding-bottom: 40px;
}

h4 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: var(--quote-text-color);
}

span {
    text-align: right;
    font-weight: bold;
}

/* Button styles */

.hero button {
    color: var(--secondary-text-color);
    background-color: var(--button-color);
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.call-to-action button {
    color: var(--secondary-text-color);
    background-color: var(--button-color);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px white;
    font-size: 18px;
    font-weight: 600;
}